*{
    margin: 0;
    padding:0;
}
/* body and global styles */
body{
    font-family: Georgia, Times, 'Times New Roman', serif;
}

/* header styles */
span b{
    color: rgb(53, 125, 189);
}
h1.header{
    justify-content: center !important;
    text-decoration: underline;
    margin-bottom:3%;
}

a#header_logout{
    color:rgb(53, 125, 189);
    font-size: 12px !important;
    text-decoration: none;
    margin-left:50%;
}

/* containers and form styles */
h4{
    justify-content: center !important;
    color:rgb(24, 134, 230);
}

h6{
    justify-content: center !important;
}

/*** overriding bootstrap css for forms ***/

.col{
    max-width: 50% !important;
}

/*** end of override ***/


textarea, input[type="email"], input[type="password"], input[type="text"]{
    border: 0;
    border-bottom: 1px solid grey;
    outline:0;
    text-align: center;
    background: transparent;
}

input[type="checkbox"]:hover{
    box-shadow: 0 0 4px 1px rgb(24, 134, 230);
    transition: all 200ms ease-out;
    border-radius:3px;
}

button.signup{
    text-align: center;
    margin-top:4%;
    border-radius: 5px;
    border:0;
    background-color: rgb(206, 228, 247);
}
button.signup:hover{
    background-color: rgb(162, 207, 247);
   box-shadow: 5px 2px 5px silver;
}

div.container div.row{
    padding-top:10%;
    justify-content: center !important;
}

div#signup_div{
    margin: 4% 10%;
}

div#login{
    margin-bottom: 3%;
}

h6.login_banter{
    color: rgb(24, 134, 230);
}

div.table_div{
    margin-top:7%;
}

div.new_act_div{
    margin-bottom:4%;
}

div form#add_item{
    width: 80%;
}
/* table rearrange */
a.re_arr{
    font-size: 12px;
}
.arr_separator{
    font-size:12px;
}
/* error and success messages styles */

li.error{
    color:red;
}

li.success{
    color:green;
}