{% extends "./base.html" %}

{% block title %}Home Page{% endblock title %}
{% block body %}
    <header class="container">
        <div class="row">
            <p class="col">Welcome, <span><b>{{user.first_name}}!</b> </span></p>
            <a href="/logout" id="header_logout">Sign Out</a>
        </div>
            <h1 id="header1" class="row align-items-center header">Things To Do </h1>
    </header>
    <div class="container table_div">
        <div><a href="/reorder/1" class="re_arr">Newest First</a> <span class="arr_separator">|</span> <a href="/reorder/2" class="re_arr">Oldest First</a> <span class="arr_separator">|</span> <a href="/reorder/3" class="re_arr">Alphabetical First</a></div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Complete</th>
                <th scope="col">Activity</th>
                <th scope="col">Details</th>
            </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    {% if item.is_complete != True %}
            <tr>
                <th scope="row">
                    <form action= "/complete/{{item.id}}" id="item_{{item.id}}_form" method="POST">
                        {% csrf_token %}
                        <input type="checkbox" data-attr = "{{item.id}}" id="item_{{item.id}}" class="input_cbox"/>
                    </form>
                </th>
                <td>{{item.title}}</td>
                <td>{{item.description}}</td>
            </tr>
                    {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container new_act_div">
        <div class="row">
            <form id="add_item" action="/add" method="post">
                {% csrf_token %}
                <h4 class="row align-items-center">New Activity</h4><br/>
                <div class="row ">
                    <input type="text" name="title" id="new_title" placeholder="Title" class="col"/>
                </div>
                <div class="row align-items-center">
                    <textarea name="description" id="new_description" cols="30" rows="1" class="col" placeholder="Description"></textarea>
                </div>
                <div class="row align-items-center">
                    <button type="submit" class="col signup">Add To List</button>
                </div>
            </form>
        </div>
    </div>
       

    <div class="container">
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>

   {% endblock body %}