<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static '/list_app/css/styles.css' %} ">
    <title>Sign In</title>
</head>
<body>
    <header class="container">
        <h1 class="row align-items-center header">Things To Do</h1>
    </header>
    <div class="container">
        <div class="row align-items-center">
            <form id="sign-up" action="/register" method="post">
                {% csrf_token %}
                <h6 class="row align-items-center">New User?</h6><br/>
                <div class="row align-items-center">
                    <input type="text" name="first_name" id="f_name" placeholder="First Name" class="col"/>
                </div>
                <div class="row align-items-center">
                    <input type="text" name="last_name" id="l_name" placeholder="Last Name" class="col"/>
                </div>
                <div class="row align-items-center">
                    <input type="email" name="email" id="email_signup" placeholder="Email" class="col"/>
                </div>
                <div class="row align-items-center">
                    <input type="password" name="password" id="p_word" placeholder="Password" class="col"/>
                </div>
                <div class="row align-items-center">
                    <input type="password" name="password_confirmation" id="p_word_confirm" placeholder="Re-enter Password" class="col"/>
                </div>
                <div class="row align-items-center">
                    <button type="submit" class="col signup">Sign up</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container" id="login_div">
        <div class="row align-items-center">
            <form id="login" action="/login" method="post">
                {% csrf_token %}
                <h6 class="row align-items-center">Sign In!</h6><br/>
                <div class="row align-items-center">
                    <input type="email" name="login_email" id="email_login" placeholder="Email" class="col"/>
                </div>
                <div class="row align-items-center">
                    <input type="password" name="login_password" id="p_word_login" placeholder="Password" class="col"/>
                </div>
                <div class="row align-items-center">
                    <button type="submit" class="col signup">Sign In</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li {% if message.tag %} class="{{message.tag}}" {% endif %}>{{message}}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>