{% extends "./base.html" %}

{% block title %}Home{% endblock title %}

{% block body %}

<header class="container">
    <h1 class="row align-items-center header">Things To Do</h1>
</header>
    {% if messages %}
    <div class="container">
        <ul>
        {% for message in messages %}
            <li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
<div class="container row" id="signup_div">
    <div class="col align-items-center" id="replace_div">
        <form id="sign-up" action="/register" method="post">
            {% csrf_token %}
            <h6 class="row align-items-center login_banter">New User?</h6><br/>
            <div class="row align-items-center">
                <input type="text" name="first_name" id="f_name" placeholder="First Name" class="col"/>
            </div>
            <div class="row align-items-center">
                <input type="text" name="last_name" id="l_name" placeholder="Last Name" class="col"/>
            </div>
            <div class="row align-items-center">
                <input type="email" name="email" id="email_signup" placeholder="Email" class="col"/>
            </div>
            <div class="row align-items-center">
                <input type="password" name="password" id="p_word" placeholder="Password" class="col"/>
            </div>
            <div class="row align-items-center">
                <input type="password" name="password_confirmation" id="p_word_confirm" placeholder="Re-enter Password" class="col"/>
            </div>
            <div class="row align-items-center">
                <button type="submit" class="col signup">Sign up</button>
            </div>
        </form>
    </div>
    <div class='col align-items-center' id="login"> 
        <form id='login' action='/login' method='post'> 
            {% csrf_token %}
            <h6 class='row align-items-center login_banter'>Already A Member?</h6><br/>
            <div class='row align-items-center'>
                <input type='email' name='login_email' id='email_login' placeholder='Email' class='col'/>
            </div>
            <div class='row align-items-center'>
                <input type='password' name='login_password' id='p_word_login' placeholder='Password' class='col'/>
            </div>
            <div class='row align-items-center'>
                <button type='submit' class='col signup'>Sign In</button>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock body %}